[package]
name         = "esp-idf-part"
version      = "0.1.0"
authors      = ["Jesse Braham <jesse@beta7.io>"]
edition      = "2021"
rust-version = "1.60.0"
description  = "A library for parsing and generating ESP-IDF partition tables"
repository   = "https://github.com/jessebraham/esp-idf-part"
license      = "MIT OR Apache-2.0"
keywords     = ["esp-idf", "partition", "partition-table"]
categories   = ["embedded", "parsing"]

[dependencies]
csv         = "1.1.6"
deku        = "0.13.1"
md5         = "0.7.0"
parse_int   = "0.6.0"
regex       = "1.6.0"
serde       = { version = "1.0.144", features = ["derive"] }
serde_plain = "1.0.0"
strum       = { version = "0.24.1",  features = ["derive"] }
